/* GIF hover effect */
.gif-hover-container {
  position: relative;
}
.gif-hover-container a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.gif-hover-container .gif-hover-static {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: opacity 0.15s ease;
}
.gif-hover-container .gif-hover-animated {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.15s ease;
}
.gif-hover-container:hover .gif-hover-static {
  opacity: 0;
}
.gif-hover-container:hover .gif-hover-animated {
  opacity: 1;
}

/* Video hover effect */
.video-hover-container {
  position: relative;
}
.video-hover-container a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.video-hover-container .video-hover-static {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: opacity 0.15s ease;
}
.video-hover-container .video-hover-animated {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.15s ease;
}
.video-hover-container:hover .video-hover-static {
  opacity: 0;
}
.video-hover-container:hover .video-hover-animated {
  opacity: 1;
}

